.map__main {
    position: relative;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}



.map-marker {
    width: 10vw;
}

.map__showname-box {
    position: absolute;
    border: 1px black solid;
    top: 42vh;
    left: 20vw;
    z-index: 4;
    width: 60vw;
    height: 4vh;
    background: white;
    color: black;
    
}

.map__show-details-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 4;
    background: white;
    top: 20vh;
    height: 60vh;
    width: 98vw;
    border: solid black 1px;
}

.map__search-box {
    position: absolute;
    z-index: 1;
    height: 10vh;
    width: 100vw;
}

.map__map-container {
    height: 90vh;
    text-align: center;
    position: relative;
    z-index: 0;
  
}