  .search__box {
    background: #001f3f;
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
    padding: 0 2vw;
    display: flex;
    height: 7vh;
    align-items: center;
    color: white;
    justify-content: space-between;
  
  }
  
  .search__box > h2 {
    margin: 0;
    padding-left: 1vw;
    height: 3vh;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  
  .search__bar {
    width: 76vw;
    border: none;
    height: 3vh;
    background: lightgray;
  }
  
  .search__results {
    width: 100vw;
    top: 7vh;
    left: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 1px solid #00000011;
  }
  
  .search__list-item{
    background: #001f3f;
    width: 100vw;
    list-style: none;
    border: 1px solid #00000011;
    cursor: pointer;
    padding: 10px 10px;
  }
  
  .search__list-item:hover {
    background: #033c75;
  }
  
/* Brewbox  */

  .searchBrew__box {
    position: relative;
  }
  
  .searchBrew__results {
    width: 100vh;
    top: 7vh;
    position: absolute;
    z-index: 2;
    background-color: dodgerblue;
    padding: 0;
    margin: 0;
    border: 1px solid #00000011;
  }
  
  .searchBrew__list-item{

    list-style: none;
    border: 1px solid #00000011;
    cursor: pointer;
    padding: 10px 10px;
  }
  
  .searchBrew__list-item:hover {
    background-color: #0000ff11;
  }